.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 0.5rem;
    display: flex;
    box-shadow: yellow 0 0 40px;
    border-radius: 60px;
}

.carousel__images-container {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel__img {
    min-width: 100%;
    display: none;
}
.active {
    display: block;
}

