* {
    padding: 0px;
    margin: 0px;
    border: none;
    font: 1.2rem "Roboto Light", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 5px;
    height: 100vh;
    background-image: url("../images/background.webp");
    background-size: cover;
    background-position: center;
}

.home-page {
    display: flex;
    color: yellow;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    border-radius: 20px;
    padding: 5px;
    background-color: #1e457791;
    box-shadow: 0 0 70px yellow;
    min-height: 6rem;
}

.header-home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-home-page__user-link {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}
.footer-home-page__user-link:hover {
    color: yellow;
}

.game-difficulty-form__button {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: #ff9900;
    box-shadow: 0 4px 10px black;
}
.game-difficulty-form__button:active {
    transform: scale(0.9);
}
.game-difficulty-form__button:hover {
    background-color: #54a1e1;
    transition: ease-in-out 0.2s all;
}

.game-difficulty-form__select {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #e0e0ff;
}
.game-difficulty-form__select:hover {
    background-color: #54a1e1;
    transition: ease-in-out 0.2s all;
}

.game-difficulty-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

