<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/carousel.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/game.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/logoutButton.css}">
    <title>Case opener!</title>
</head>
<body>
    <div class="main-container">
        <header class="header">
            <article th:insert="~{LogoutButton :: logout-form}"></article>
        </header>
        <main class="main">
                <section class="carousel">
                    <div class="carousel__images-container" th:each="image : ${images}">
                        <img th:src="${image.getSrc()}" alt="" class="carousel__img"/>
                    </div>
                </section>
                <article class="main__article">
                    <p class="article__balance-container">
                        Balance: <span class="p__balance" th:text="${balance}">0</span>
                    </p>
                    <button class="main__bet-button">Bet</button>
                    <p class="article__exception">

                    </p>
                </article>
        </main>
        <footer class="footer"></footer>
    </div>

    <script
            type="module"
            th:src="@{/js/Carousel.js}"
    ></script>
    <script
            type="module"
            th:src="@{/js/Bet.js}"
    ></script>
    <script
            type="module"
            th:src="@{/js/BalanceListener.js}"
    ></script>
    <script
            type="module"
            th:src="@{/js/ExceptionHandler.js}"
    ></script>
</body>
</html>